/*
Updated January 14th
<link href="https://fonts.googleapis.com/css?family=Raleway:400,500" rel="stylesheet">
font-family: 'Raleway', sans-serif;
<link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:400,500" rel="stylesheet">
*/
* {
    box-sizing: border-box;
}
body {
    color: #a55;
    background-color: darkslategrey;
    font-size: 2vw;
    font-weight: lighter;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.2vw;
    padding: 0;
}
button {
  background-color: peru;
  color: grey;
  width: 8vw;
  height: 4vh;
  padding: 0;
  border: 1px solid maroon;
  margin: .5vh 2vw;
  box-shadow: 2px 2px 12px 3px rgba(56,51,51,.74);
  display: inline;
}
nav {
  display: flex;
}
.grey {
    color: grey;
}
h3, h2 {
    text-align: center;
    font-weight: 400;
}
.hilite {
    color: rgba(10, 247, 155, 1);
}
.box1 {
    background-color: grey;
    color: maroon;
}

.title {
    font-size: 3vw;
    color: hsl(158, 100%, 61%);
}
.expl {
    color: rgb(95, 207, 218);
}
h2 {
    color: rgb(252, 219, 169);
    font-family: Georgia;
}
.return {
    background-color: rgba(129, 124, 113, 0.54);
}

img {
    margin: 1vw;
    position: relative;
    width: 60vw;
    left: 5vw;
}
.commentxt {
    color: rgba(84, 87, 86, 1);
}
.teal {
    font-weight: lighter;
    color: rgb(106, 159, 158);

}
.wh {
    color: white;
    font-weight: lighter;
}
.reddrk {
    color: brown;
    font-weight: lighter;
    font-family: 'Raleway', sans-serif;
}
.redlite {
    color: #ff3f45;
}
.purp {
    color: rebeccapurple;
}
.sand {
    color: rgb(175, 147, 122);
}
.mango {
    color: rgb(175, 99, 29);
}
.dkmango {
    color: rgb(92, 65, 25)
}
.aqua{
    color: rgb(112, 189, 194);
}
.mango {
    color: rgb(175, 99, 29);
}
.bldk {
 color: rgb(30, 31, 41);
 }
.coral {
    color: coral;
}
.pinkish {
    color: rgb(237, 162, 162);
}
.lemon {
    color: rgb(217, 202, 105);
}
.gr {
    color: rgb(102, 191, 134);
}
.dkgr {
    color: rgb(53, 94, 27);
}
.y {
    color: yellow;
}
.chtitle {
    color: rgb(94, 155, 185);
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
}
.ivr {
    color: wheat;
    font-weight: 400;
}
.blLite {
    color: rgb(136, 191, 218);
}
.ltgr {
    color: rgb(136, 218, 189);
}
.hilite2 {
    color: #6bf57f;
}
.rdbg {
    padding: 1%;
    color: rgb(255, 227, 180);
    background-color: rgba(87, 23, 23, 0.77);
}
.dkbg {
    padding: 1%;
    color: ivory;
    background-color: rgba(62, 60, 60, 0.75);
}
.ltbg {
    padding: 1%;
    background-color: rgba(225, 237, 237, 0.16);
}
.ltbg2 {
    padding: 1%;
    background-color: rgba(225, 237, 237, 0.36);
    font-size: 1.6vw;
}
.testbox {
    width: 85vw;
    margin: 2vw;
    padding: 3%;
    color: rgb(203, 184, 136);
    background-color: rgba(104, 133, 129, 0.5);
    box-shadow: 4px 4px 5px black;
    font-family: "Raleway";
    font-size: 1.8vw;
}
.shadn {
    box-shadow: 5px 5px 5px black;
    border: 1px solid wheat;
    margin: 1%;
    padding: 1%;
}
.shadw {
    box-shadow: 10px 10px 25px black;
    /*width: 30vw;*/
    margin: 1%;
    padding: 1%;
}

.squatbox {
    font-family: 'Source Code Pro', Helvetica;
    width: 70vw;
    color: rgb(81, 128, 122);
    border: 1px solid white;
    font-weight: 400;
    background-color: rgba(0, 0, 0, 0.47);
    padding: .5vw;
    margin: auto;
}
.squatbox2 {
    background-color: rgba(26, 36, 47, 0.52);
    line-height: 3.2vh;
    margin: auto;
    padding: .5%;
    width: 70vw;
    color: lightgrey;
    border: 1px solid brown;
    font-size: 1.2vw;
    font-weight: lighter;
    font-family: 'Source Code Pro', Helvetica;
}
.squatbox3 {
    line-height: 1.7vw;
    padding: .5%;
    width: 75vw;
    border: 1px solid rgb(92, 182, 99);
    color:  grey;
    font-weight: 400;
    background-color: rgba(0, 0, 0, 0.57);
    padding: .5vw;
    margin: auto;
    font-family: 'Source Code Pro', Helvetica;
}

.compact {
    color: wheat;
    margin: 1vw 10vw;
    font-family: 'Raleway', sans-serif;
    font-size: 1.3vw;
    padding: 2% 2% 1% 2%;
    background-color: rgb(92, 127, 142);
    width: 60vw;
    border: 1px solid wheat;
}
.compact2 {
    color: rgba(169, 194, 157, 1);
    margin: auto 10vw;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5vw;
    padding: 2% 2% 1% 2%;
    background-color: rgba(37, 70, 89, 1);
    width: 65vw;
    border: 1px solid wheat;
}
.compact3 {
    color: rgba(169, 194, 157, 1);
    margin: auto;
    width: 85vw;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5vw;
    padding: 2%;
    background-color: rgb(51, 80, 52);

    border: 1px solid white;
}

.txtbox {/*outer*/
    /*position: relative;*/
    width: 80vw;
    margin: 1vw;
    padding: 1%;
    color: wheat;
    border: 1px solid rgb(84, 39, 10);
    background-color: rgba(39, 62, 50, 0.78);
    font-size: 1.5vw;
    font-family: sans-serif;
    font-weight: lighter;
    letter-spacing: 0.1vw;
}
.outbox {
    width: 90vw;
    margin: 2vw 1vw;
    padding: 2%;
    color: rgb(173, 173, 149);
    background-color: rgba(238, 97, 97, 0.2);
    border: 2px solid black;
    font-size: 2vw;
    font-weight: lighter;
    letter-spacing: 0.1vw;
}
.outbox2 {
  font-family: "Raleway", fantasy;

    width: 95%;
    padding: 5vw;
    margin: 1vw auto;
    padding: 2%;
    color: white;
    border: 1px solid coral;
    background-color: rgba(1,56,112,.84);
    font-family: sans-serif;
    font-size: 2vw;
    font-weight: lighter;
    letter-spacing: 0.1vw;
}

.outbox3 {
    width: 95vw;
    padding: auto;
    color: rgba(255, 206, 166, 1);
    border: 1px solid white;
    background-color: rgb(175, 119, 174);
    font-family: sans-serif;
    font-size: 1.5vw;
    font-weight: lighter;
    letter-spacing: 0.2vw;
    /*position: absolute;*/
}

.outbox4 {
    width: 90vw;
    margin: 1vw;
    padding: 2%;
    color: rgba(164, 160, 136);
    border: 1px solid coral;
    background-color: rgba(0, 166, 7, 0.24);
    font-family: 'Raleway', sans-serif;
    font-size: 2vw;
    font-weight: lighter;
    letter-spacing: 0.1vw;
}

.outbox5 {
    width: 90vw;
    margin: 1vw;
    padding: 2%;
    color: #72b3f6;
    border: 1px solid ivory;
    background-color: #4c635e;
    font-family: 'Raleway', sans-serif;
    font-size: 2vw;
    font-weight: lighter;
    letter-spacing: 0.1vw;
}

.innerboxN {
    width: 40vw;
    margin: 1vw 10vw auto 10vw;
    padding: 0% 1%;
    color: black;
    border: 1px solid rgba(185, 185, 185, 0.68);
    background-color: rgb(173, 88, 73);
    box-shadow: 10px 10px 25px black;
    font-family: "Source Code Pro";
    font-size: 1.8vw;
}
.innerboxN1 {
    width: 50vw;
    margin: 0vw 10vw;
    padding: 0% 1%;
    color: black;
    border: 1px solid rgba(185, 185, 185, 0.68);
    background-color: #dacb95;
    box-shadow: 3px 3px 15px black;
    font-family: "Source Code Pro";
    font-size: 1.6vw;
}
.left {
    text-align: left;
}
.innerboxW {
    width: 80vw;
    margin: 0% 2%;
    padding: 0% 1%;
    color: black;
    border: 1px solid rgba(185, 185, 185, 0.68);
    background-color: #e8bb81;
    box-shadow: 5px 5px 25px black;
    font-family: "Source Code Pro";
    font-size: 1.5vw;
}
.innerboxLeft {
    width: 60vw;
    margin: 1vw 10vw auto 10vw;
    padding: 0% 1%;
    color: black;
    border: 1px solid rgba(185, 185, 185, 0.68);
    background-color: rgb(173, 88, 73);
    box-shadow: 10px 10px 25px black;
    font-family: "Source Code Pro";
    font-size: 1.8vw;
}
.innerbox2 {
    width: 75vw;
    margin: 0% 2%;
    padding: 1%;
    color: ivory;
    box-shadow: 5px 5px 15px black;
    font-family: "Lucida Console", sans-serif;
    font-weight: lighter;
    font-size: 1.5vw;
    background-color: rgba(205, 10, 10, 0.52);
    position: relative;
}

.innerbox3 {
    width: auto;
    margin: auto;
    padding: 1%;
    color: black;
    border: 1px solid navy;
    background-color: rgba(219, 180, 93, 0.72);
    box-shadow: 3px 3px 5px rgba(85, 25, 25, 0.92);
    font-family: 'Raleway', sans-serif;
    font-size: 1.7vw;
    font-weight: 400;
}

.innerbox4 {
    width: 80vw;
    margin: 1vw auto auto 1vw;
    padding: 1%;
    color: deepskyblue;
    border: 1px solid maroon;
    background-color: rgba(163, 144, 76, 0.19);
    box-shadow: 5px 5px 15px black;
    font-family: 'Raleway', sans-serif;
    font-size: 1.7vw;
    font-weight: 400;
}

.grtransbox {
    width: 90vw;
    margin: 1vw;
    padding: 1%;
    color: rgb(255, 234, 145);
    background-color: rgba(52, 60, 56, 0.78);
    border: 1px solid white;
    box-shadow: 5px 5px 15px black;
    font-family: 'Raleway', sans-serif;
    font-size: 1.7vw;
    font-weight: 400;
}
.grtransbox2 {
    width: 70vw;
    margin: 1vw;
    padding: 1%;
    color: rgb(255, 234, 145);
    background-color: rgba(52, 60, 56, 0.78);
    border: 1px solid white;
    box-shadow: 3px 3px 10px black;
    font-family: 'Raleway', sans-serif;
    font-size: 1.7vw;
    font-weight: 400;
}

.ans {
    padding: 0;
    -webkit-filter: blur(10px);
    font-family: 'Raleway', sans-serif;
    display: inline;
    font-size: 1.8vw;
    opacity: 1%;
}
.ans:hover {
    /*-webkit-filter: blur(0px);*/
    animation: blurtxt .5s 1 forwards;
}
@-webkit-keyframes blurtxt {
    0% {
        -webkit-filter: blur(5px);
        opacity: 0;
    }
    100% {
        -webkit-filter: blur(0px);
        opacity: 1;
    }
}

.ctr {
    text-align: center;
}
code {
    font-size: 1.8vw;
    font-family: "PT Sans";
}
h1 {
    font-weight: lighter;
}
.b {
    font-weight: bold;
}
.b2 {
    font-size: 2.5;
}
#bigpic {
    width: 60%;
}

.list1> li {
    color: rgb(78, 199, 173);
    font-family: Georgia;
}
.warn {
    color: rgb(204, 99, 99);
}

a {
    color: sienna;
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-size: 1.5em;
    width: 100%;
}
a:hover {
  color: linen;
}

.formal {
    font-family: times;
}

.informal {
    font-family: italic;
}

.underline {
    text-decoration: underline;
}

p {
    font-size: 1.5vw;
    color: ivory;
}
.sm {
    font-size: 1.3vw;
}
.med {
    font-size: 1.5vw;
    color: ivory;
}

li {
    margin: 2% auto;
    font-size: 1.5rem;
    list-style: none;
}
.box {
    font-family: 'Raleway', sans-serif;
    padding: 2%;
    margin: 1%;
    background-color: rgb(55, 71, 78);
    color: rgb(237, 153, 111);
    padding: auto, 10%;
    text-align: left;
    border: 1px solid skyblue;
}
.svgbox {
    width: 85vw;
    color: rgba(8, 8, 11, 0.93);
    padding: 1%;
    font-family: monospace;
    margin: 2%;
    font-size: 1.8vw;
    border: 1px solid brown;
    background-color: rgba(93, 107, 79, 0.99);

}
.fr2 {
  font-family: 'Raleway', sans-serif;
  padding: 2%;
  margin: 0%;
  background-color: rgba(6,0,42,.94);
  box-shadow: inset 1vw 1vw 30vw 10vw black;
  color: rgb(46,2,2);
  padding: auto, 5%;
  text-align: left;
  border: 1px solid wheat;
}
.fr3 {
  font-family: 'Raleway', sans-serif;
  padding: 2%;
  margin: 0%;
  background-color: rgba(184,165,129,.3);
  box-shadow: inset 1px 1px 20px 10px rgba(22,37,35,.59);
  color: rgb(46,2,2);
  padding: auto, 5%;
  text-align: left;
  border: 1px solid wheat;
}

.fr {
    font-family: 'Raleway', sans-serif;
    padding: .5%;
    margin: 0%;
    background-color: rgba(33, 1, 44, .4);
    color: rgb(182, 160, 110);
    padding: auto, 5%;
    text-align: left;
    border: 1px solid rgb(53, 204, 86);
}
.box3 {
    padding: 1%;
    margin: 0% 2%;
    color: rgb(157, 209, 208);
    box-shadow: 10px 15px 5px rgba(0, 0, 0, 0.69);
    border: 1px solid white;
    text-align: left;
    background-color: rgba(60, 113, 113, 0.78);
}
.box5 {
    padding: 1%;
    margin: 0% 2%;
    color: rgb(157, 209, 208);
    box-shadow: inset 4px 4px 50px rgba(11, 32, 24, 1);
    border: 1px solid white;
    text-align: left;
    background-color: rgba(44, 54, 99, .3);
}
.line {
    text-decoration: line-through;
}
.talkbox3 {
    padding: 1%;
    margin: 0% 2% 2% 2%;
    color: rgba(255, 233, 140, 0.59);
    box-shadow: inset 4px 4px 400px rgba(11, 32, 24, 1);
    border: 1px solid white;
    text-align: left;
    background-color: rgba(176, 162, 136, 1);
}
.lavenbox {
    padding: 0% 1%;
    color: white;
    width: 85vw;
    margin: auto;
    font-family: Georgia;
    font-size: 1.7vw;
    border: 1px solid ivory;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.35);
}
.htmlbox {
    width: 85vw;
    color: black;
    padding: 1%;
    margin: 0% 3%;
    font-size: 1.5vw;
    border: 1px solid lightblue;
    background-color: rgba(122, 115, 124, 0.93);
}

.jsonbox {
    color: black;
    margin: 1%;
    font-size: 1.3vw;
    border: 1px solid maroon;
    background-color: rgb(156, 140, 76);
    box-shadow: 3px 3px 5px black;
}

.talkbox {
    color: rgba(201, 190, 161, 1);
    box-shadow: inset 4px 4px 10px rgba(11, 32, 24, 1);
    padding: 1%;
    width: auto;
    margin: 0% 1% 2% 1%;
    font-size: 1.4vw;
    border: 1px solid grey;
    background-color: rgba(69, 117, 119, .5);
}

.talkbox2 {
    color: black;
    box-shadow: inset 4px 4px 10px rgba(11, 32, 24, 1);
    padding: 1% 1%;
    width: auto;
    margin: 0% 1% 2% 1%;
    font-size: 1.8vw;
    border: 1px solid grey;
    background-color: hsl(21, 79%, 65%);
}
.jsbox {
    color: rgb(27, 46, 61);
    padding: 0% 1%;
    margin: 0% 3%;
    font-size: 1.5vw;
    border: 1px solid ivory;
    background-color: rgba(214, 198, 167, 0.63);
}
.jsbox2 {
    background-color: rgba(48, 13, 7, 0.75);
    line-height: 4vh;
    padding: 0% 1%;
    margin: 0% 3%;
    font-family: "Source Code Pro", Helvetica;
    font-weight: 400;
    border: 1px solid white;
    color: rgb(255, 244, 149);
    text-align: left;
}
.jsbox3 {
    background-color: rgba(48, 13, 7, 0.45);
    padding: 2% 1%;
    width: 85vw;
    font-family: "Source Code Pro", Helvetica;
    font-weight: 400;
    border: 1px solid white;
    color: rgb(255, 244, 149);
}
.cssbox {
    color: black;
    padding: 0% 1%;
    margin: 0% 3%;
    font-size: 1.5vw;
    border: 2px solid orange;
    background-color: rgb(115, 158, 104);
}
.inspectbox {
    color: black;
    box-shadow: 4px 4px 8px black;
    padding: 2%;
    width: 90vw;
    margin: auto;
    font-size: 1.8vw;
    border: 1px solid black;
    background-color: rgb(134, 134, 128);
}
.inspectbox2 {
    color: black;
    box-shadow: 4px 4px 8px black;
    padding: 0%;
    width: 90vw;
    margin: auto;
    font-size: 1.8vw;
    border: 1px solid black;
    background-color: #79b08e;
}
i {
    color: wheat;
}

.box4 {
    width: 75%;
    padding: 2%;
    margin: 5% auto;
    color: black;
    border: 1px solid teal;
    background-color: #dacb95;
}
h4 {
    margin: -10px;
    font-weight: lighter;
}
.n {
    width: 70vw;
}

.n2 {
    width: 50vw;
}
.n3 {
    width: 20vw;
}

pre {
    white-space: pre-wrap;
}
.container {
    border: 1px solid skyblue;
    margin: auto;
    width: 12vw;
    height: 12vw;
    transform-style: preserve-3d;
    position: relative;
    transform: rotateX(-5deg) rotateY(-40deg) perspective(1000px);
}
.b3d {
    opacity: .8;
	height: 10vw;
	width: 10vw;
	position: absolute;
}
.shape1 {
	transform: translateZ(0px);
	background-color: wheat;
}
.shape2 {
	transform: translateZ(120px);
	background-color: maroon;
	}
.shape3 {
	transform: translateZ(260px);
	background-color: green;
	}
/*.rdbg {
        background-color: rgba(52, 25, 26, 0.81);
        border: 1px solid white;
        color: rgb(181, 161, 91);
    }*/
    #myElement {
        font-size: 1vw;
        color: #000;
        width: 50vw;
        transition-property: font-size, color, width;
        transition-duration: 1s, 15s, 1s;
        transition-delay: ease, linear, ease-out;
    }
    #myElement:hover {
        font-size: 3vw;
        color: #e24e4e;
        width: 70vw;
    }
.2vw {
    font-size: 2vw;
}
.innerbox2 .b2 {
    font-size: 2.5;
}
.p-rel {
    position: relative;
}
.p-abs {
    height: auto;
    border: 1px solid brown;
    position: absolute;
    background: rgba(227, 211, 153, 0.53);
    color: rgb(42, 27, 78);
    bottom: 0;
    right: 0;
}
.fLeft {
    top: 0;
    float: left;
    border: 1px solid wheat;
    position: absolute;
    height: auto;
}
.fRight {
    top: 0;
    right: 0;
    float: right;
    /*border: 1px solid wheat;*/
    position: absolute;
    height: auto;
}
input {
  margin: .5vh 2vw;
  outline-color: slategrey;
    font-size: .7em;
    font-weight: lighter;
    color: linen;
    height: 4vh;
    border: 1px solid pink;
    box-shadow: inset 1px 1px 1px 4px rgba(15,15,15,.29);
    text-align: center;
    background: hsl(15, 10%, 44%);
}
input:hover {
    border: 1px solid linen;
}
input:focus {
    border: 1px solid red;
    outline-style: ridge;
}
input:active {
    border: 1px solid slategrey;
}

input::-webkit-input-placeholder {
  color: peru;
}
.cl-both {
    clear: both;
}
.table-container {
  width: 90vw;
  /*left: 10px;*/
  position: relative;
  height: 20vh;
}
table {
  border: 1px solid darkgreen;
}
.table1 {
  top: 3vh;
  width: 30vw;
  background-color: wheat;
  position: absolute;
}
.table2 {
  top: 3vh;
  right: 20vw;
  width: 25vw;
  background-color: rgba(110,212,151,.84);
  position: absolute;
}
.table-container h4 {
  top: 2vh;
  left: 25vw;
  text-align: center;
  /*margin: auto;*/

  background: brown;
  width: 25vw;
  color: wheat;
  height: auto;
  z-index: 2;
}
.hidden {
  visibility: hidden;
}
/* =========SVG CSS============ */
/*div {
  position         : absolute;
  width            : 250px;
  height           : 150px;
  margin           : 20% 20%;
  border           : 2px solid brown;
  background-color : #a2ec96;
  box-shadow       : 2px 2px 2px 5px black;
}*/
svg {
  width        : 100%;
  height       : 60vh;
  /*margin-right : 30%;*/
  margin-left  : 10%;
/*   border       : 1px solid wheat; */
}

li {
  color : #3c2;
}

.fishGrp {
  position : absolute;
}

#eyeBone {

}

#backBone {

}

#tailBone {

}
.bones {
  fill: #E2E1FF;
  stroke: #8480FF;

}

#frontBone:hover {
  fill       : #f1dc6c;
  transition : 1s all ease;
}

#noseBone:hover {
  transform  : translate3d(30px, 0px, 0);
  transition : .5s transform linear;
}

.myPath {

}

.skin {
  fill : #FF931E;
}

#skinBody {
  fill : #FF931E;

}
#skinTail {
  fill : #FF931E;
}

#mouth {
 stroke: #9E005D;
 fill: none;
 stroke-width:5;
}

#topFin {
fill: #2E3192;
}

#wing {
fill: #2E3192;
}

#eyeSocket {
  stroke: #9e004e;
  fill: none;
  stroke-width: 8;
}

#pupil{
fill: #29294e;
stroke-width: 5px;
stroke: #4242f7;
}


.fishtail {
  animation: fishtailSlow 1.2s ease-in-out infinite alternate;
  /*border-radius: 50%;*/
  /*box-shadow:
    2.5em .5em 1em -1em rgba(black, .1),
    2.5em 0 0 0 $color-b,
    2.75em -.15em 0 .05em $color-a,
    2.8em .1em 0 .1em shade($color-a, 10%);*/
  /*height: 9em;
  left: -15.8em;*/
  position: absolute;
  /*top: -5.5em;*/
  /*transform: skewX(200deg);*/
  transform-origin: 5em center;
  transform-style: preserve-3d;
  /*width: 7em;*/
}
.fish-container {
  /*perspective: 600px;*/
  /*position: absolute;*/

}
.fishbuoy {
  width: auto;
  /*background-color: red;*/
  animation: fishbuoy .8s ease-in-out infinite alternate;
  perspective: 600px;
  position: absolute;
  /*top: 40%;
  left: 50%;*/
  transform: translateX(50%) translateY(40vw);
  /*z-index: 1;*/
}

@keyframes fishbuoy {
  from {
    top: calc(50% - .25em);
  }
  to {
    top: calc(50% + .25em);
  }
}

@keyframes fishtailSlow {
  from {
    transform: rotateY(35deg) skewX(1deg);
  }
  to {
    transform: rotateY(-35deg) skewX(1deg);
  }
}
